*/.ash_history
*/.browserslistrc
.git/
rails/.bundle/
rails/.local/
rails/node_modules/
rails/log/
rails/tmp/
rails/yarn-error.log

# Ignore master key for decrypting credentials and more.
rails/config/master.key

rails/public/packs
rails/public/packs-test
rails/yarn-debug.log*
rails/.yarn-integrity
rails/.pki/

deploy/k8s/.kube
deploy/terraform/.terraform
deploy/terraform/terraform.*